name: kwaic
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  provider: ^6.1.5+1
  video_player: ^2.10.0
  ffmpeg_kit_min_gpl: ^6.0.3+2-LTS
  flutter_sound: ^9.28.0
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  uuid: ^4.5.1
  image_picker: ^1.2.0
  audioplayers: ^6.5.1
  record: ^6.1.2
  file_picker: ^10.3.3
  flutter_colorpicker: ^1.1.0
  get: ^4.7.2
  video_thumbnail: ^0.5.6
  flutter_tts: ^4.2.3

  video_trimmer: ^5.0.0
  undo: ^1.5.0
  device_info_plus: ^12.2.0
  bloc: ^9.1.0
  flutter_bloc: ^9.1.1
  equatable: ^2.0.7
  bloc_test: ^10.0.0
  collection: ^1.19.1
  video_editor: ^3.0.0
  transparent_image: ^2.0.1
  reorderables: ^0.6.0
  lottie: ^3.3.1
  shared_preferences: ^2.5.3


  #flutter_gpu_video_filters: ^0.0.20
  #native_filters: ^0.0.15+alpha
  #ffmpeg_kit_flutter: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0


flutter:


  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
